.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.App-header {
  width: 100%;
  background-color: #222;
  text-align: center;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.btn-add-task {
  margin-top: 10px;
}

.todo-item {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-duration: 0.3s;
}

.todo-item-left {
  display: flex;
  align-items: center;
}

.todo-item-label {
  padding: 10px;
  border: 1px solid white;
  margin-left: 12px;
}

footer {
  margin-top: 10px;
}

.extra-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-top: 1px solid lightgrey;
  padding-top: 14px;
  margin-bottom: 14px;
}

.button-update-filter {
  margin: 2px;
} 

.completed {
  text-decoration: line-through;
}

.active {
  background-color: lightgreen !important;
}

.checkall-label {
  margin: 0;
}

.checkall-label-input {
  margin-right: 20px;
}

.remove-task {
  cursor: pointer;
  margin-left: 14px;
}

.remove-task:hover {
  color: black;
}
